<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app">
    <router-link to="/top">トップページ</router-link>
    <router-link to="/users">ユーザー一覧</router-link>
    <router-link to="/users/new">ユーザー新規作成</router-link>
    <router-view></router-view>
  </div>
  <script src="https://unpkg.com/vue@2.5.21"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>
  <script type="text/x-template" id="user-list">
    <!-- コンポーネントで使用するテンプレートHTMLを記載-->
    <div>
      <div class="loading" v-if="loading">読み込み中...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <!-- usersがロードされたら各ユーザーの名前を表示する -->
      <div v-for="user in users" :key="user.id">
        <h2>{{ user.name }}</h2>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="user-detail">
    <!-- コンポーネントで使用するテンプレートHTMLを記載-->
    <div>
      <div class="loading" v-if="loading">読み込み中...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <!-- usersがロードされたら各ユーザーの名前を表示する -->
      <div v-if="user">
        <h2>{{ user.name }}</h2>
        <p>{{ user.description }}</p>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="user-create">
    <div>
      <div class="sending" v-if="sending">Sending...</div>
      <div>
        <h2>新規ユーザー</h2>
        <div>
          <label>名前: </label>
          <input type="text" v-model="user.name">
        </div>
        <div>
          <label>説明文: </label>
          <textarea v-model="user.description"></textarea>
        </div>
        <div v-if="error" class="error">
          {{ error }}
        </div>
        <div>
          <input type="button" @click="createUser" value="送信">
        </div>
      </div>
    </div>
  </script>

  <script>
    var userData = [
      {
        id: 1,
        name: 'Takuya Tejima',
        description: '東南アジアで働くエンジニアです。'
      },
      {
        id: 2,
        name: 'Yohei Noda',
        description: 'アウトドア・フットサルが趣味のエンジニアです。'
      }
    ]

    var getUsers = function (callback) {
      setTimeout(function () {
        callback(null, userData)
      }, 1000)
    };

    var getUser = function (userId, callback) {
      setTimeout(function () {
        var filteredUsers = userData.filter(function (user) {
          return user.id === parseInt(userId, 10)
        })
        callback(null, filteredUsers && filteredUsers[0])
      }, 1000)
    };
    
    var postUser = function (params, callback) {
      setTimeout(function() {
        params.id = userData.length + 1
        userData.push(params)
        callback(null, params)
      }, 1000)
    }

    var UserList = {
      // HTML上のscriptタグのidを指定する。
      template: '#user-list',
      data: function () {
        return {
          loading: false,
          users: function () { return [] },
          error: null
        }
      },

      // 初期化時にデータを取得
      created: function () {
        this.fetchData()
      },

      // $routerの変更をwatchすることでルーティングが変更された時に再度データを取得
      watch: {
        '$route': 'fetchData'
      },

      methods: {
        fetchData: function () {
          this.loading = true
          // 取得したデータの結果をusersに格納する
          // Function.prototype.bindはthisのスコープを渡すために利用

          getUsers((function (err, users) {
            this.loading = false
            if (err) {
              this.error = err.toString()
            } else {
              this.users = users
            }
          }).bind(this))
        }
      }
    }

    var UserDetail = {
      template: '#user-detail',
      // 初期値のセット
      data: function() {
        return {
          loading: false,
          user: null,
          error: null
        }
      },
      created: function () {
        this.fetchData()
      },
      watch: {
        '$route': 'fetchData'
      },
      methods: {
        fetchData: function() {
          this.loading = true
          // this.$route.params.userIdに現在のURL上のパラメータに対応したuserIdが格納される
          getUser(this.$route.params.userId, (function (err, user) {
            this.loading = false
            if (err) {
              this.error = err.toString()
            } else {
              this.user = user
            }
          }).bind(this))
        }
      },
    }

    // 新規ユーザー作成コンポーネント
    var UserCreate = {
      template: '#user-create',
      data: function () {
        return {
          sending: false,
          user: this.defaultUser(),
          error: null
        }
      },
      created: function () {
      },
      methods: {
        defaultUser: function() {
          return {
            name: '',
            description: ''
          }
        },

        createUser: function () {
          // 入力パラメータのバリデーション
          if (this.user.name.trim() === ''){
            this.error = 'Nameは必須です'
            return
          }

          if (this.user.description.trim() === ''){
            this.error = 'Descriptionは必須です'
            return
          }

          postUser(this.user, (function (err, user) {
            this.sending = false
            if (err) {
              this.error = err.toString()
            } else {
              this.error = null
              // デフォルトでフォームをリセット
              this.user = this.defaultUser()
              alert('新規ユーザーが登録されました')
              // ユーザー一覧ページに戻る
              this.$router.push('/users')
            }
          }).bind(this))
        }
      }
    }

    var router = new VueRouter({
      routes: [
        {
          path: '/top',
          component: {
            template: '<div>トップページです。</div>'
          }
        },
        {
          path: '/users',
          component: UserList
        },
        {
          // ルート定義を追加
          path: '/users/new',
          component: UserCreate
        },
        {
          path: '/users/:userId',
          component: UserDetail
        }
      ]
    })

    var app = new Vue({
      router: router
    }).$mount('#app')
  </script>
</body>
</html>
